{% extends 'base.html' %}
{% block title %}
	login
{% endblock title %}
{% block content %}
	<div>
		{{ form.errors }}
	</div>
	<form method="post">
		{% csrf_token %}
		<label for="id_username">Username:</label>
		<input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
		<br><br>

		<label for="id_password">Password:</label>
		<input type="password" name="password" autocomplete="current-password" required="" id="id_password">
		<br><br>
		<button class="btn btn-dark" type="submit">login</button>
	</form>
	<br>
	<a href="{% url 'account:signup' %}">don't have an account?</a>
	<br>
	<a href="{% url 'account:reset' %}">forgot password?</a>
{% endblock content %}