<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'store:list' %}"><span class="m-2 bi bi-book"></span>Bookstore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'account:dashboard' %}">Dashboard</a>
                </li>
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/?cat={{ category.slug }}">{{category.title}}</a>
                    </li>
                {% endfor %}
            </ul>


            <form class="d-flex" method="get" action="{% url 'store:list' %}">
                <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form> 
            {% if request.user.is_authenticated %} 
                <div>
                    <a class="btn btn-outline-light" href="{% url 'store:cart' %}"><span class="bi bi-cart"></span></a>
                </div>
            {% else %}
                <a href="{% url 'account:login' %}">login</a>/
                <a href="{% url 'account:signup' %}">signup</a>
            {% endif %}  
        </div>
    </div>
</nav>