{% extends 'base.html' %}
{% load static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock css %}

{% block title %}
	book list
{% endblock title %}

{% block navbar %}
	{% include 'partials/category.html' with catg=catg %}
{% endblock navbar %}

{% block content %}
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	<div class="row">
		{% for book in books %}
			<div class="col">
				<div class="card m-5" style="width: 18rem;">
  					<img src="{{ book.picture.url }}" class="card-img-top" alt="{{ book.title }}">
        			<div class="content">
            			<h3>
            				{{ book.title }}
            			</h3>
            			<p>{{ book.description|truncatechars:9 }}</p>
        			</div>
        			<a href="{% url 'store:detail' book.slug %}" class="fixed-buttom btn btn-dark card-button m-4">
        				see details
        			</a>
				</div>
			</div>
	{% endfor %}
	</div>
	{% include 'partials/pagination.html' with page=page %}
{% endblock content %}