{% extends 'base.html' %}
{% load static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
{% endblock css %}

{% block title %}
	{{ book.title }}
{% endblock title %}

{% block navbar %}
	{% include 'partials/category.html' with catg=catg %}
{% endblock navbar %}

{% block content %}
	<div class="row">
		<div class="col">
			<img class="detail-img" src="{{ book.picture.url }}" alt="{{ book.title }}">
		</div>
		<div class="col">
			<ul>
				<li>
					<span class="Pacifico">
						Title : 
					</span>
					{{ book.title }}
				</li>
				<li>
					<span class="Pacifico">
						Publisher : 
					</span>
					{{ book.publisher }}
				</li>
				<li>
					<span class="Pacifico">
						Writer : 
					</span>
					{{ book.writer }}
				</li>
				<li>
					<span class="Pacifico">
						Price : 
					</span>
					{{ book.price }}
				</li>
				<li>
					<span class="Pacifico">
						Category : 
					</span>
					{{ book.category }}
				</li>
				<li>
					<span class="Pacifico">
						Pages : 
					</span>
					{{ book.pages }}
				</li>
				<li>
					<span class="Pacifico">
						Year : 
					</span>
					{{ book.year }}
				</li>
				<li>
					<span class="Pacifico">
						Edition : 
					</span>
					{{ book.edition }}
				</li>
				<li>
					<span class="Pacifico">
						Description : 
					</span>
					<br>
					{{ book.description }}
				</li>
			</ul>
			{% if request.user.is_verified %}
				<button book="{{ book.slug }}" class="btn btn-dark" id="addBtn">
					<i class="bi bi-cart-plus"></i>
					add to cart
				</button>

				<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="ModalLabel">successfull</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body">
				        <em>{{ book.title }}</em> is added to your card
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				        <a href="{% url 'store:cart' %}" class="btn btn-dark">go to cart</a>
				      </div>
				    </div>
				  </div>
				</div>

			{% elif request.user.is_authenticated %}
				<a href="{% url 'account:send_email' %}">activate your email</a> to add book to your cart
			{% else %}
				<a href="{% url 'account:login' %}">login</a>
				/
				<a href="{% url 'account:signup' %}">signup</a>
				to add book to your cart
			{% endif %}
		</div>
	</div>

{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/detail.js' %}"></script>
{% endblock scripts %}