{% extends 'base.html' %}
{% load static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock css %}

{% block title %}
	book list
{% endblock title %}

{% block navbar %}
	{% include 'partials/category.html' with catg=catg %}
{% endblock navbar %}

{% block content %}
	<div class="row p-3 m-3">
		<div class="col">
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <h2>
                         {{ message }}
                    </h2>
                </li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>
		
	
	<div class="row">
		{% for book in books %}
			<div class="col">
				<div class="card m-5" style="width: 18rem;height: 48rem;">
  					<img src="{{ book.picture.url }}" class="card-img-top" alt="{{ book.title }}">
        			<div class="content">
            			<h5>
            				{{ book.title|truncatewords:3 }}
            			</h5>
            			<small>{{ book.description|truncatewords:10 }}</small>
                        <p class="">{{ book.rating_average }} <i class="bi bi-star-fill"></i> 
							<br>
							<small>
								{{ book.review_count }} reviews
							</small>
						</p>
        			</div>
        			<a href="{% url 'store:detail' book.slug %}" class="fixed-buttom btn btn-dark card-button m-4">
        				see details
        			</a>
				</div>
			</div>
            {% empty %}
                <h4>No book found</h4>
	{% endfor %}
	</div>
	{% include 'partials/pagination.html' %}
{% endblock content %}