{% extends 'base.html' %}
{% load static %}

{% block title %}
	cart
{% endblock title %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
{% endblock css %}

{% block content %}
	{% if orders %}
		<div class="row mt-2">
			<div class="col">
				<strong class="Pacifico">book title</strong>
			</div>
			<div class="col">
				<strong class="Pacifico">quantity</strong>
			</div>
			<div class="col">
				<strong class="Pacifico">book price</strong>
			</div>
			<div class="col">
				<strong class="Pacifico">total price</strong>
			</div>
			<div class="col">
				<strong class="Pacifico">actions</strong>
			</div>
		</div>
		<br><br>
	{% endif  %}
	{% for order in orders %}
		<div class="row">
			<div class="col">
				<a href="{% url 'store:detail' order.book.slug %}">
					{{ order.book.title }}
				</a>
			</div>
			<div class="col">
				{{ order.quantity }}
			</div>
			<div class="col">
				{{ order.book.price }}
			</div>
			<div class="col">
				{{ order.get_total }}
			</div>
			<div class="col">
				<button book="{{ order.book.slug }}" class="btn btn-dark increaseButton">
					<i class="bi bi-cart-plus"></i>
					+1
				</button>
				<button book="{{ order.book.slug }}" class="btn btn-dark deleteButton">
					<i class="bi bi-cart-x"></i>
					delete
				</button>
				<button book="{{ order.book.slug }}" class="btn btn-dark decreaseButton">
					<i class="bi bi-cart-dash"></i>
					-1
				</button>
			</div>
		</div>
		<hr>
	{% empty %}
		<div class="m-5">
			<h1>your cart is empty</h1>
			<h2><a href="{% url 'store:list' %}">go shopping</a></h2>
		</div>
	{% endfor %}

	{% if orders %}
		<div class="m-5">
			<a href="{% url 'store:list' %}">continue shopping</a>
			<br>
			<h3>Total price : {{ orders.0.cart.get_cart_total }}</h3>

			<a class="btn btn-dark" href="{% url 'store:checkout' %}">check out</a>
		</div>
	{% endif  %}
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock scripts %}
